## Conditional Statement and Loops

In [2]:
#Conditional statement

marks = int(input("Enter the marks :")) #Taking input from user using input function
#the input() by default takes the string that why we typecasted it in int

if marks >= 80 :
    print("You are in A batch")  #note the indentation
    
#If we want to add multiple condition we use elif (else if)
elif marks >= 60 and marks < 80 :
    print("You are part of B batch")
elif marks >= 40 and marks < 60 :
    print("You are part of C batch")
    
#If none of the above conditon is satisfied the else get executed
else :
    print("you are part of D batch")

Enter the marks :-098
you are part of D batch

In [4]:
price = int(input("Enter the price :"))

if price > 1000 :
    print("I will not Purchase")
    if price > 5000 :               #If statement gets executed everytime
        print("This is too much")
else :
    print("I will purchase")

Enter the price :50090
I will not Purchase
This is too much

In [5]:
#Loops

l = [1, 2, 3, 4, 5, 6, 7]

In [6]:
#Printing the values of the list
for i in l:
    print(i)

1
2
3
4
5
6
7

In [9]:
#Adding some value in each element of the list
l1 = []
for i in l:
    l1.append(i+1)
l1

[2, 3, 4, 5, 6, 7, 8]

In [12]:
#Lets make the words in upper case
l3 = []
l2 = ["dhanshri", "data science", "course"]
for i in l2:
    l3.append(i.upper())
l3

['DHANSHRI', 'DATA SCIENCE', 'COURSE']

In [17]:
#Seperate string and numbers
l = [1,2,3,4,4,"Dhanshri","Data",456,"abc"]
l1 = []
l2 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)
    else :
        l2.append(i)
print(l1)
print(l2)

[1, 2, 3, 4, 4, 456]
['Dhanshri', 'Data', 'abc']

In [18]:
#for - else statement

l1 = [1,2,3,'dhanshri',6]
for i in l1:
    print(i)
    
else :
    print("if for loop is completed successfully then only else statement is executed")

1
2
3
dhanshri
6
if for loop is completed successfully then only else statement is executed

In [20]:
#Where not to use else statement
for i in l1:
    if i == "dhanshri":
        break
    print(i)
else:
    print("Result will not be displayed")  #This is not printed as for loop is not completed successfully as break statement breaks the iteration

1
2
3

In [22]:
for i in l1:
    if i == "dhanshri":
        continue
    print(i)
else :
    print("This will be printed as continue statement only skips the current iteration")

1
2
3
6
This will be printed as continue statement only skips the current iteration

In [23]:
#Range function
range(5)

range(0, 5)

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
list(range(0,5,2))  #range(start,end+1,step)

[0, 2, 4]

In [26]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [33]:
#reversing the list using for loop
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

6
dhanshri
3
2
1

In [39]:
#Printing data only from even index 
l2 = [1,4,2,3,5,6,34,566,355,64,65]
for i in range(0, len(l2), 2):
    print(l2[i])

1
2
5
34
355
65

In [2]:
#Sum of the elemets in the list
l1 = [1,2,3,4,5,6]
sum = 0
for i in l1:
    sum += i
    
print(sum)

21

In [3]:
#For loop works on all the data which has the indexes
#For loop on set
s = {1, 3, 4,"Hello"}
for i in s:
    print(i)

1
3
4
Hello

In [6]:
#For loop on string
Name = "Dhanshri"
for i in Name :
    print(i)

D
h
a
n
s
h
r
i

In [9]:
#for on dictinary
d = {"Name" : "Dhanshri",
    "Class" : "SY",
    "Topic" :['Data scinece','Satastics','ML']}

In [12]:
for i in d.keys():
    print(d[i])

Dhanshri
SY
['Data scinece', 'Satastics', 'ML']

In [13]:
for i  in d.values():
    print(i)

Dhanshri
SY
['Data scinece', 'Satastics', 'ML']

In [14]:
for i in d.items():
    print(i)

('Name', 'Dhanshri')
('Class', 'SY')
('Topic', ['Data scinece', 'Satastics', 'ML'])

In [15]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [17]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [18]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [20]:
#While Loop

In [21]:
a = 1

#while checks the condition forst and then executes the statement 
while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [27]:
#Sum up the number till some point

n = int(input("Enter any number :"))
sum = 0
count = 1
while count <= n:
    sum = sum + count
    count = count + 1
print(sum)

Enter any number :3
6

In [30]:
#factorial of any number
num = int(input("Enter the number :"))
fact = 1

while n > 0:
    fact = fact * n
    n = n - 1
print(fact)

Enter the number :3
6

In [32]:
#Finonacci series
num1 = int(input("Enter the number of elements you are looking for :"))
a = 0
b = 1
count = 0
while count < num1:
    print(a)
    c = a + b
    a = b
    b = c
    count = count + 1

Enter the number of elements you are looking for :5
0
1
1
2
3

In [33]:
#Finonacci series using for lop
num1 = int(input("Enter the number of elements you are looking for :"))
a = 0
b = 1
count = 0
for i in range(a, num1):
    print(a)
    c = a + b
    a = b
    b = c
    count = count + 1

Enter the number of elements you are looking for :5
0
1
1
2
3

In [36]:
#Lets reverse the string
word = input("Enter the string to be reversed :")
reverse = ""
length = len(word)
while length > 0 :
    reverse = reverse + word[length -1]
    length = length -1
print(reverse)

Enter the string to be reversed :dhanu
unahd

In [37]:
#Printing the table
n = int(input("Ener the number "))
i = 1

while i <= 10:
    result = n * i
    i = i + 1
    print(n," X ",i," = ",result)

Ener the number 2
2  X  2  =  2
2  X  3  =  4
2  X  4  =  6
2  X  5  =  8
2  X  6  =  10
2  X  7  =  12
2  X  8  =  14
2  X  9  =  16
2  X  10  =  18
2  X  11  =  20

In [39]:
#While - else
n = 5
i = 1
while i < n:
    print(i)
    i = i + 1
else :
    print("this will be executed once your while is completed successfully")

1
2
3
4
this will be executed once your while is completed successfully