## Python Comprehension

### List Comprehension

In [2]:
#Comprehension in python is a short and precise way to create a sequence from previosly existing sequence
#List comprehension is used very often
#We know that :
l = [1, 2,3, 4,5]
l1 = []
for i in l :
    l1.append(i**2)

In [3]:
l1

[1, 4, 9, 16, 25]

In [4]:
#But the same code can also be written as
l2 = [i**2 for i in l]

In [5]:
l2

[1, 4, 9, 16, 25]

In [6]:
#Lets take only even numbers using list comprehension
[i for i in l if i % 2 == 0]

[2, 4]

In [11]:
#we can also apply Methods using list comprehension
l1 = ["sudh",'Data',"Science"]
[i.upper() for i in l1]

['SUDH', 'DATA', 'SCIENCE']

In [4]:
names = ['mama','kaka','dada']
lst = [name.capitalize() for name in names]   #First letters get capitalized
lst

['Mama', 'Kaka', 'Dada']

In [1]:
#List comprehension using if statement
def is_even(num) :
    return num % 2 == 0
lst = [num for num in range(10) if is_even(num)]
#Statement at right hand side are executed first
print(lst)

[0, 2, 4, 6, 8]

In [2]:
#Display list in the form of pair of numbers
#We can use two for loops in list comprehension
lst = [f"{x}{y}" for x in range(3) for y in range(3)]
print(lst)
#All posible pairs are displayed

['00', '01', '02', '10', '11', '12', '20', '21', '22']

In [6]:
#Examples :
#1 ) find all the numbers from 1 to 1000 that are diisible by 7
lst = [num for num in range(1, 1000) if num % 7 ==0]
print(lst)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [9]:
#2)print all the numbers from 0 to 1000 that have 3 in them
lst = [n for n in range(0,1000) if '3' in str(n)]
print(lst)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [16]:
#3)find the number of spaces in the string
some_string = "Hello, I am Dhanshri Chaudhari. A Second year Undergraduate student"
lst = [s for s in some_string if s == ' ']
print(len(lst))

9

In [20]:
#4)Create a list of all consonents in the list
sent = "Life is box of chocolets"
lst = [c for c in sent if c not in "a,e,i,o,u,' '"]
print(lst)

['L', 'f', 's', 'b', 'x', 'f', 'c', 'h', 'c', 'l', 't', 's']

In [29]:
#5)Find the common numbers in the list
lst1 = [1,4,3,2,6,3]
lst2 = [3,1,7,8,9,2,6]
lst = [i for i in lst1 if i in lst2]
print(lst)

[1, 3, 2, 6, 3]

In [36]:
#6)find common words from two stirngs
sent1 = "Hello, this is Dhanshri"
sent2 = "Hello, this is Niva"
#s1 = sent1.split(" ")
lst = [word for word in sent1.split(" ")  if word in sent2.split(" ")]
print(lst)

['Hello,', 'this', 'is']

In [43]:
#7) get only numbers from a sentence like 
sent = 'in 1984 there were 13 instences of protest with over 1000'
sent1 = sent.split(" ")
lst = [n for n in sent1 if not n.isalpha()]   #Can also use isdigit()
print(lst)

['1984', '13', '1000']

In [48]:
#8)Print even odd numbers
lst = ['even' if n%2 == 0 else 'odd' for n in range(20)]
print(lst)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [52]:
#Produce a list of tuples conssiting of only the matching numbers in these lists list_a = [1,2,3,4,5,6,7,8,9]
#list_b = [2,7,10,12]
#The result would look like
#(1,1),(2,2)
lst1 = [1,2,3,4,5,6,7,8,9]
lst2 = [2,7,10,12]
lst = [(a,b) for a in lst1 for b in lst2 if a== b ]
print(lst)

[(2, 2), (7, 7)]

In [3]:
#Find all the words in the string that has less then 4 letters
sentence = "on summer day ramnath sonar went swimming in the sun and his red skin sung"
lst = [s for s in sentence.split(" ") if len(s) <= 4]
print(lst)

['on', 'day', 'went', 'in', 'the', 'sun', 'and', 'his', 'red', 'skin', 'sung']

### Set Comprehension

In [ ]:
# Set comprehension is used very rarely 
set_one = { num for num in range(3)}
print(set_one)

In [8]:
set1 = {f"{x}{y}" for x in range(4) for y in range(4)}
print(set1)

{'32', '03', '12', '22', '13', '21', '11', '10', '01', '20', '23', '30', '00', '33', '31', '02'}

### Dictionary Comprehension

In [9]:
dict_one = {x : x*x for x in range(5)}
print(dict_one)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [13]:

d = {"key1" : 1,"key2" : 2,"Key3" : 3}
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'Key3': 9}

In [12]:
#Lets apply some filter also
{k : v for k , v in d.items() if v > 1}

{'key2': 2, 'Key3': 3}

### Tuple Comprehension

In [12]:
#Lets see tuple comprehension
l

[1, 2, 3, 4, 5]

In [16]:
tup = (i**2 for i in l)

In [14]:
#This generates an object 
#we can access those element either converting the tuple into list or using a for loop
list(i**2 for i in l)

[1, 4, 9, 16, 25]

In [17]:
for i in tup :
    print(i)

1
4
9
16
25