## Generator Function

In [ ]:
#Generator Functions
#Do not use return keyword
#but uses yeild keyword
#Generator are used for memory Optimization
#It gives the output one by one withput holding everything in the memory

def test_fib(n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        temp = a
        a = b
        b = temp + b

In [7]:
test_fib(10)
#It creates the object instead of giving the output

In [8]:
#For displaying the output we have to put it in for loop
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [9]:
#We can also write it using while loop
def test_fib1():
    a = 0
    b = 1
    while True:
        yield a
        temp = a
        a = b
        b = temp + b

In [14]:
fib = test_fib1()

In [16]:
#For displyaing the output we can even use next() function

for i in range(10):
    print(next(fib))
    #Next works only when the object is iterator
    #For loop internally works the same
    #firstly converts into iterator and then next(),next(),...
    
    #Note : The one which are iterable can only be converted into iterator
    #e.g : list,string,etc

0
1
1
2
3
5
8
13
21
34

In [17]:
def count_test(n):
    count = 1
    while count < n:
        yield count
        count = count + 1

In [18]:
c = count_test(5)

In [19]:
for i in c:
    print(i)

1
2
3
4

## Lambda Function

In [21]:
#Lambda function is also known as anonymous function
#That is the fucntion without name 
#Lambda keyword is used to define an anonymous function in python
#syntax : lambda arguments : expression
a = lambda n, p : n**p

In [23]:
a(3,2)

9

In [24]:
#We are storing the function in an variable and then calling it
add = lambda x, y : x + y

In [25]:
add(1,2)

3

In [26]:
#Fucntion to cinvert into farenhite
c_to_f = lambda c : (9/5)*c + 32

In [27]:
c_to_f(45)

113.0

In [30]:
#We can also give condition in lambda function
#But when we are using if it is compulsory to use else as well

finding_max = lambda x, y : x if x > y else y

In [31]:
finding_max(8,9)

9

In [32]:
s = 'Dhanshri'
length = lambda s : len(s)

In [33]:
length(s)

8

In [2]:
#If dont know the number of arguments
val=lambda *args:sum(args)
val(1,2,3,4)
val(4,5)

9

In [1]:
#using keyword arguments in lambda function
val = lambda **data:sum(data.values())
val(a=1,b=3,c=4)

8

## Map, Reduce, Filter Function

In [34]:
l = [2, 3, 4, 5, 6]

In [36]:
#It takes iterable and function as arguments
def sq(x):
    return x**2

In [38]:
list(map(sq, l))

[4, 9, 16, 25, 36]

In [39]:
#We can even write the function directly in the arguments
list(map(lambda x : x**2, l))

[4, 9, 16, 25, 36]

In [5]:
l1 = [1, 2 , 3, 4, 5]
l2 = [6, 7, 8, 9, 10]

list(map(lambda x, y : x + y, l1, l2))

[7, 9, 11, 13, 15]

In [6]:
#We can even use external function
def add(x, y):
    return x + y

In [7]:
list(map(add,l1, l2))

[7, 9, 11, 13, 15]

In [8]:
name = "dhanshri"
list(map(lambda name : name.upper(),name))

['D', 'H', 'A', 'N', 'S', 'H', 'R', 'I']

In [10]:
#Reduce
#It also takes one function as a parammter and the second paramenter is the iterable
from functools import reduce

In [12]:
l = [1,2,3,4,5]

In [14]:
reduce(lambda x, y : x + y,l)  #We cant take third parameter over here becouse it will not be true at every condition

15

In [15]:
l = [1,2,3,4,5]

In [17]:
reduce(lambda x, y : x if x > y else y,l)

5

In [18]:
#Filter

In [19]:
l = [1,2,3,4,5,6]

In [20]:
list(filter(lambda x : x % 2 == 0,l))

[2, 4, 6]

In [24]:
#Lets write a filter to display negative numbers
l = [1,-6,4,-8,-4,]
list(filter(lambda x : x < 0,l))

[-6, -8, -4]

In [28]:
l1 = ["Dhanshri","chaudhari","Pranil"]

In [29]:
list(filter(lambda x : len(x) <= 6 , l1))

['Pranil']

In [37]:
# Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(filter(lambda x : str(x),l2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
#Write a python program to find palindromes in the given list of strings using lambda and filter
#function.
l3 = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x if x == x[::-1] else 0,l3))

['php', 'aba', 'radar', 'level']

In [42]:
#Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
#given list : [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x if x % 2 == 0 and x % 3 == 0 else 0, l4))

[6, 60, 90, 120]